# -*- coding: utf-8 -*-
# ==========================================================
# requirements.txt
# ----------------------------------------------------------
# Python 3.8.10 환경 기준
# ==========================================================

# --- 필수 ---
pandas>=1.3.5,<2.0
requests>=2.27.1
beautifulsoup4>=4.10.0
urllib3>=1.26.8

# --- 윈도우 / Creon API 전용 ---
pywin32>=304
